body{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;    
    background-image: url(../images/9e833426824c34a0d4ec5c72e0a3bfa4.jpg);
    background-size: 100%;
    position: relative;
}
.farher{
    position: relative;
    width: 100%;
    height: 100%;
}
.col{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 15px;
}
.col a{
    color: honeydew;
    text-decoration: none;
    font-size: 20px;
}
.menu{   
    position: absolute; 
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 8px;
    top: 20px;
    right: 40px;
}
.menu a{
    text-decoration: none;
    color: black;
    margin-top: -50px;
    margin-left: 8px;     
}

.but{
    position: relative;
    display: inline-block;  
    color: red;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none; 
    text-align: center;  
    font-size:30px;
    transition: 1s;
    letter-spacing: 5px;
    margin-top: 470px;
    margin-left: 50px;
    /* overflow: hidden;    */
}
.but:hover {
    background: rgba(228, 14, 14, 0.507);
    color: black;
   
}
 .but:nth-child(1) {
    filter: hue-rotate(270deg);
}
.but:nth-child(2) {
    filter: hue-rotate(110deg);
} 
.but span {
    position: absolute;
    display: block;
}
.but span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,red);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.but span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,red);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.but span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,red);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.but span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,red);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.audio{
    position: absolute;
    background: none;
    top: 20px;
    left: 550px;

}